html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #1d4ed8, #15162c);
}

hr {
  border: none; /* Remove the border */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  width: 100%; /* Optionally, set the width to 100% to span the container's width */
  height: 1px; /* Optionally, set the height to define the thickness of the line */
  background-color: #000; /* Optionally, set a custom background color */
}

* {
  box-sizing: border-box;
}
